{
    "globals" :{
        "describe": true,
        "xdescribe": true,
        "it": true,
        "xit": true,
        "beforeEach": true,
        "afterEach": true,
        "before": true,
        "after": true
    },
    "rules": {
        "max-nested-callbacks": [0, 6],
    }
}